body{
    margin: 0;

    display:grid;
    grid-template-areas:
    "main aside";
}
main{
    grid-area: main;
    width: 50vw;
    height: 100vh;
    background-color: #121214;
}
aside{
    grid-area: aside;
}
.texts{
    color: #E1E1E6;
    margin-left: 1em;
}
#logoImage{
    width: 500px;
}
#subtitle{
    color: #04D361;
    margin-top: 4.35em;
    margin-left: 0.5em;
}
#text{
    margin-top: 2em;
}
#inputTitle{
    color: #E1E1E6;
    margin-left: 1em;
}
#emailInput{
    position: absolute; /*Lembre sempre de colocar o position:absolute para o z-index funcionar*/
    width: 53vw;
    height: 4vh;
    z-index: 2;
    margin-top: 2em;
    margin-left: 1em;
    border-color: #04D361;
    box-shadow: 15px 10px 10px black;
}
#goToJournal{
   margin-top: 8em;
   margin-left: 2em;
   color: #8257e5;
   background-color:#121214 ;
   border: dashed #8257e5;
   cursor: pointer;
   image-rendering: initial;
}
#submitButton{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    margin-top: 43.6vh;
    margin-left: 4vw;
    height: 4.65vh;
    width: 3vw;
    background-color: #8257e5;
    border-radius: 1%;
    justify-content: center;
}
#journalReader{
    width: 50vw;
    height: 100vh;
}

